# Node.js
node_modules/
.env
.DS_Store
.vscode
.github

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Sonstiges
*.log
*.tmp

# Build/Deploy
.vercel/
dist/
build/

# System
Thumbs.db
.idea/
*.swp
.vercel


releases

_scripts