<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello <%= user.username %> - ESP32 Manager</title>
    <link rel="stylesheet" href="/css/global.css">

</head>

<body>
    <div class="container">
        <h1>Hello <%= user.username %>!</h1>
        <p>Willkommen beim ESP32 Your Watcher Manager.</p>
        <p>Hier hast du die Möglichkeit, deinen YourWatcher einzustellen. Außerdem kannst du hier weitere Infos
            einsehen, wie z.B.: Angebote</p>
    </div>
    </div>
</body>

</html>